In [19]:
import psycopg2 # type: ignore
import matplotlib.pyplot as plt # type: ignore
import pandas as pd # type: ignore
from tqdm import tqdm # type: ignore
import numpy as np # type: ignore
config = {
    "host": "10.188.200.16",
    "dbname": "tw",
    "user": "jimmy",
    "password": "123123"
}
conn = psycopg2.connect(**config)
cursor = conn.cursor()



tw_maincode = """
select * from price_fund_offshore where da >='2024-01-01';
"""

cursor.execute(tw_maincode)
conn.commit()
res = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

In [21]:
df

,da,code,cl,hi,lo,op,adj,avg_cl,vol,vol_net,avg_count,avg_count_net,trade_count,turnover
0,2020-10-26,0050 TT Equity,106.10,106.60,105.80,106.10,93.50,106.14,2918.0,-8.95,0.9,-65.38,3402.0,0.31
1,2020-10-26,0051 TT Equity,40.05,40.15,39.98,39.98,34.94,40.03,42.0,320.00,1.4,100.00,30.0,0.42
2,2020-10-26,0052 TT Equity,94.10,94.80,94.00,94.30,78.93,94.50,1439.0,-5.95,3.8,-63.11,374.0,5.17
3,2020-10-26,0053 TT Equity,51.05,51.15,50.75,51.15,45.86,50.88,15.0,-51.61,2.1,-52.27,7.0,0.27
4,2020-10-26,0054 TT Equity,25.22,25.25,25.15,25.15,23.98,25.20,6.0,200.00,0.9,-10.00,7.0,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5414286,2020-10-23,9951 TT Equity,80.80,81.20,79.00,80.40,66.18,80.27,231.0,-44.20,1.2,-7.69,200.0,0.31
5414287,2020-10-23,9955 TT Equity,19.10,19.40,18.90,19.20,19.10,19.13,330.0,75.53,2.2,37.50,147.0,0.32
5414288,2020-10-23,9958 TT Equity,132.00,134.50,130.00,132.00,121.61,132.51,5100.0,-17.41,1.4,-6.67,3572.0,2.35
5414289,2020-10-23,9960 TT Equity,27.90,28.00,27.90,28.00,21.97,27.98,5.0,-83.33,1.3,-31.58,4.0,0.01
5414290,2020-10-23,9962 TT Equity,9.08,9.09,8.80,8.80,7.26,9.00,13.0,62.50,1.1,-59.26,12.0,0.02

In [20]:
df = pd.DataFrame(res, columns=columns)
df.to_parquet("tw_price.parquet")
# df.to_csv("tw_maincode_fund_offshore__2025.csv")